@import "font";

@import "mixin";
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP';
  scroll-behavior: smooth;
}

.size {
  max-width: 1100px;
  width: calc(100vw - 350px);
}
.z-index-large{
  z-index: 999;
}
.w-full{
  width: 100%;
}
.pc{
  display: block;
}
.tb{
  display: none;
}
.header_{
  position: sticky;
  height: 0;
  top: 8px;
  .header-main{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    width: calc(100% - 16px);
    margin-left: 8px;
    border-radius: 6px;
    max-width: 1264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 94px;
    a{
      width: 33.333%;
      max-width: 352px;
      &:first-of-type{
        max-width: 346px;
      }
      &:last-of-type{
        max-width: 333.46px;
      }
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.main-banner{
  img{
    width: 100%;
    object-fit: cover;
  }
}
input{
  &.input-err{
    border: 1px solid red!important;
  }
}
div{
  &.input-err{
    color: red!important;
  }
}
.menu-middle{
  background: #F7931E;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  .item-menu-middle{
    color: white;
    font-size: 18px;
    margin: 0 20px;
    white-space: nowrap;
    &:last-of-type{
      display: none;
    }
    a{
      color: white;
      text-decoration: none;
    }
    img{
      margin-left: 5px;
    }
  }
}
.recruitment{
  padding: 40px 0;
  .title{
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    letter-spacing: 5px;
    padding: 3px 10px;
    border-bottom: 4px solid #f7931e;
  }
  .title-large{
    font-weight: bold;
    font-size: 40px;
    margin: 35px 0;
    text-align: center;
    letter-spacing: 6px;
  }
  .list-recu{
    display: flex;
    justify-content: center;
    img{
      margin: 5px;
      max-width: calc(25% - 10px);
    }
  }
}

.to-join{
  background-color: #F7F5F0;
  padding: 95px 50px 0 50px;
  position: relative;
  z-index: 0;
  .title{
    width: 100%;
  }
  .icon-down{
    width: 17.65%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .description{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    .text-to-join{
      letter-spacing: 4px;
      font-weight: bold;
      font-size: 16px;
      width: 55.8%;
      .txt-main{
        color: #f7931e;
      }
    }
    img{
      max-width: 44.2%;
    }
  }
  .list-img{
    display: flex;
    justify-content: center;
    align-items: start;
    img{
      max-width: 33.333%;
    }
  }
  .text-bottom {
    text-align: center;
    font-weight: bold;
    margin: 40px 0 0px 0;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 27px;
    padding: 20px 0 40px 0;

    .txt-main {
      color: #f7931e;
      font-size: 20px;
    }
  }
}
.consistent{
  margin-top: 50px;
  padding: 60px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img{
    width: 53.37%;
  }
  .text{
    margin-left: 30px;
    .title{
      color: #f7931e;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 10px;
      margin-bottom: 15px;
    }
    .description{
      font-size: 16px;
      background-color: #F7F5F0;
      padding: 20px;
      border-radius: 18px;
      line-height: 27px;
      letter-spacing: 3px;
    }
  }
}
.img-layer{
  img{
    width: 100%;
  }
}
.introduce{
  padding: 50px 50px 220px 50px;
  text-align: center;
  background-color: #F7F5F0;
  img{
    &:first-of-type{
      max-width: 100%;
    }
  }
  .list-intro{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img{
      width: calc(50% - 25px);
    }
    .intro-img-2{
      transform: translateY(100px);
    }
    .intro-img-3{
      transform: translateX(30px);
    }
    .intro-img-4{
      transform: translateY(150px) translateX(-30px);
    }
  }
}
.accordion-wrap{
  padding: 42px 24px 80px 24px;
  background-color: #F6E9D8;
  .accordion {
    width: 100%;
    padding: 20px 38px 60px 38px;
    background-color: #F7F5F0;
    border-radius: 18px;
    .title{
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 5px;
      margin: 50px 0;
      text-align: center;
    }
    .accordion-list {
      padding-left: 0!important;
      .accordion-item_ {
        list-style: none;
        position: relative;
        height: max-content;
        input[type="checkbox"] {
          display: none;
        }
        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 20px 8px 8px;
          cursor: pointer;
          position: relative;
          z-index: 2;
          background-color: #E0D5C6;
          margin-top: 8px;
          border-radius: 0 25px 0 0;
          height: 48px;
          .opened {
            display: none;
          }
          .closed {
            display: block;
          }
          .title-item{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 4px;
            img{
              margin: 0 10px;
            }
          }
        }

        .content {
          width: 100%;
          transition: all 0.5s ease;
          opacity: 0;
          pointer-events: none;
          position: relative;
          z-index: 1;
          max-height: 0;
          background: #e0d5c6;
          margin-top: 5px;
          border-radius: 0 25px 0 0;
          font-size: 16px;
          letter-spacing: 3px;
          &.show {
            margin-top: 5px;
            max-height: 472px;
            opacity: 1;
            pointer-events: all;
          }
          .list-dot{
            padding: 20px;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            .item-dot{
              width: 16.667%;
              &:before{
                content: "•";
                color: #f7931e;
                margin: 0 10px;
                font-size: 29px;
                line-height: 16px;
                vertical-align: middle;
              }
            }
          }
          .content-dot{
            padding: 20px;
            margin: 0 20px;
            background-color: #F7F5F0;
          }
          p {
            margin-bottom: 8px;
            color: gray;
          }
        }

        input[type="checkbox"]:checked ~ label .opened {
          display: block;
        }
        input[type="checkbox"]:checked ~ label .closed {
          display: none;
        }
      }
    }
  }
}
.faq{
  padding: 147px;
  background-color: #F7F5F0;
  text-align: center;
  img{
    margin-bottom: 80px;
  }
  .list-faq{
    border-top: 2px solid #C5C5C5;
    .item-faq{
      text-align: left;
      font-size: 16px;
      padding-top: 30px;
      padding-bottom: 10px;
      letter-spacing: 3px;
      border-bottom: 2px solid #C5C5C5;
      .faq_a{
        margin-right: 10px;
        color: #f7931e;
      }
      .faq_q{
        margin-right: 10px;
      }
    }
  }
}

.step{
  background-color: #F6E9D8;
  .step-container{
    width: calc(100% - 18px);
    background-color: #F7931E;
    padding: 70px;
    border-radius: 0 50px 50px 0;
    .title{
      color: white;
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 7px;
      padding-bottom: 5px;
      border-bottom: 5px solid white;
      width: max-content;
      margin: 0 auto 70px auto;
    }
    .list-step{
      display: flex;
      justify-content: center;
      align-items: start;
      img{
        max-width: calc(20vw - 10px);
      }
    }
  }
  .fee{
    padding: 70px 20px;
    .title{
      text-align: center;
      img{
        max-width: calc(100vw - 50px);
      }
    }
    .fee-content{
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-top: 20px;
      img{
        width: 45.4%;
      }
      .fee-text{
        width: 54.2%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .item-text{
          .label{
            display: flex;
            align-items: center;
            justify-content: start;
            .main-text{
              font-size: 32px;
              color: #F7931E;
            }
            .label-text{
              font-size: 20px;
              letter-spacing: 3px;
            }
          }
          .des{
            font-size: 16px;
            letter-spacing: 3px;
            padding-left: 10px;
          }
        }
      }
    }
    .applicable{
      font-size: 16px;
      text-align: right;
      color: #3C2C25;
      letter-spacing: 2px;
      margin-top: 20px;
    }
  }
}

.footer{
  padding: 40px 135px 20px 135px;
  .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: start;
    letter-spacing: 3px;
    margin-bottom: 30px;
    .content-footer{
      margin: 0 30px;
      .title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      table{
        tr{
          td{
            &:first-of-type{
              padding-right: 30px;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .to-top{
      cursor: pointer;
    }
  }
  .footer-bot{
    text-align: center;
    color: #ADA4A0;
  }
}
.contact{
  width: 350px;
  background-color: #F9B769;
  height: 100vh;
  position: sticky;
  top: 0;
  .contact-wrap{
    height: 100%;
    position: relative;
    .trig-top{
      width: 0;
      height: 0;
      border-top: 45px solid #F7931E;
      border-right: 350px solid transparent;
      position: absolute;
      top: 0;
      left: 0;
    }
    .trig-bot{
      width: 0;
      height: 0;
      border-bottom: 45px solid #F7931E;
      border-left: 350px solid transparent;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .contact-main{
      padding: 35px 20px;
      letter-spacing: 2px;
      width: 350px;
      .title-wrap{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .form-contact{
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 155px);

        &::-webkit-scrollbar {
          width: 3px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: black;
        }
        .item-input{
          margin-bottom: 15px;
          .lable-input{
            font-size: 14px;
            font-weight: bold;
          }
          .input{
            input{
              width: 100%;
              height: 28px;
              border-radius: 8px;
              border: none;
              outline: none;
              font-size: 15px;
              padding: 0 10px;
            }
          }
        }
        .item-radio{
          margin-bottom: 15px;
          .lable-input{
            font-size: 14px;
            font-weight: bold;
          }
          .radios_1{
            display: flex;
            flex-wrap: wrap;
            .radio-input{
              width: 50%;
              margin-top: 7px;
              span{
                font-size: 13px;
                letter-spacing: 0;
              }
              input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                border-radius: 50%;
                width: 16px;
                height: 16px;

                border: 2px solid white;
                transition: 0.2s all linear;
                margin-right: 5px;

                position: relative;
                top: 4px;
                background-color: white;
              }

              input:checked {
                border: 3px solid white;
                background-color: black;
                outline: unset !important /* I added this one for Edge (chromium) support */
              }
            }
          }
          .radios_2{
            display: flex;
            justify-content: space-between;
            .radio-input{
              margin-top: 7px;
              span{
                font-size: 13px;
                letter-spacing: 0;
              }
              input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                border-radius: 50%;
                width: 16px;
                height: 16px;

                border: 2px solid white;
                transition: 0.2s all linear;
                margin-right: 5px;

                position: relative;
                top: 4px;
                background-color: white;
              }

              input:checked {
                border: 3px solid white;
                background-color: black;
                outline: unset !important /* I added this one for Edge (chromium) support */
              }
            }
          }
        }
        .item-area {
          margin-bottom: 15px;
          .lable-input {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: bold;
          }
          .input{
            textarea{
              width: 100%;
              height: 124px;
              border-radius: 8px;
              border: none;
              outline: none;
            }
          }
        }
        .button-send{
          width: 100%;
          height: 45px;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          color: black;
          font-weight: bold;
          border-radius: 20px;
          cursor: pointer;
        }
      }

    }
  }
}
.wrap{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}


@media screen and (min-height: 600px) and (max-width: 1025px){
  .contact{
    width: auto;
    height: max-content;
    position: relative;
    .contact-wrap{
      .trig-top{
        border-right: 100vw solid transparent;
      }
      .trig-bot{
        border-left: 100vw solid transparent;
      }
    }
    .contact-main{
      padding: 60px 100px!important;
      width: auto!important;
      .form-contact{
        height: auto!important;
        .item-radio{
          .radios_1{
            .radio-input{
              width: 33.333% !important;
            }
          }
          .radios_2{
            .radio-input{
              width: 33.333% !important;
            }
          }
        }
      }
    }
  }
  .wrap{
    display: unset;
  }
  .menu-middle{
    .item-menu-middle{
      font-size: 15px;
      margin: 0 10px;
      &:last-of-type{
        display: block;
      }
    }
  }
  .footer{
    padding: 40px 50px 20px 50px;
    .footer-top{
      .content-footer{
        table{
          tr{
            td{
              &:first-of-type{
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .menu-middle{
    height: 50px;
    flex-wrap: wrap;
    .item-menu-middle{
      font-size: 10px;
      margin: 0 5px;
      img{
        margin-left: 3px;
        width: 8px;
        object-fit: cover;
      }
    }
  }
  .recruitment{
    padding: 20px 0;
    .title{
      font-size: 15px;
    }
    .title-large {
      font-size: 18px;
      margin: 20px 0;
      letter-spacing: 4px;
    }
  }
  .to-join{
    padding: 59px 20px 0 20px;
    .description{
      margin: 40px 0 20px 0;
      .text-to-join{
        font-size: 10px;
        letter-spacing: 2px;
      }
    }
    .text-bottom{
      line-height: 20px;
      margin-top: 20px;
      font-size: 10px;
      letter-spacing: 2px;
      .txt-main{
        font-size: 13px;
      }
    }
  }
  .consistent{
    padding: 30px 10px;
    img{
      width: 47%;
    }
    .text{
      margin-left: 10px;
      .title{
        font-size: 13px;
        letter-spacing: 3px;
        margin-bottom: 8px;
      }
      .description{
        font-size: 10px;
        letter-spacing: 1.5px;
        line-height: 12px;
        border-radius: 10px;
        padding: 10px;
      }
    };
  }
  .introduce{
    padding: 30px 20px 150px 20px;
    .list-intro{
      .intro-img-2{
        transform: translateY(30px);
      }
      .intro-img-3{
        transform: translateX(20px);
      }
      .intro-img-4{
        transform: translateY(50px) translateX(-25px);
      }
    }
  }
  .accordion-wrap{
    padding: 30px 10px 50px 10px;
    .accordion{
      padding: 10px 15px 30px 15px;
      .title{
        font-size: 20px;
        margin: 20px 0;
      }
      .accordion-list{
        .accordion-item_{
          label{
            height: 35px;
            margin-top: 5px;
            border-radius: 0 17px 0 0;
            .title-item{
              font-size: 13px;
              letter-spacing: 2px;
            }
            img{
              width: 18px;
            }
          }
          .content{
            font-size: 10px;
            letter-spacing: 1.5px;
            margin-top: 0px;
            &.show{
              margin-top: 2px;
            }
            .content-dot{
              padding: 10px;
              margin: 0 10px;
            }
            .list-dot{
              padding: 10px;
              .item-dot{
                width: 25%;
              }
            }
          }
        }
      }
    }
  }
  .faq{
    padding: 30px;
    img{
      max-width: 100%;
      margin-bottom: 40px;
    }
    .list-faq{
      .item-faq{
        padding-top: 15px;
        font-size: 10px;
        letter-spacing: 1.5px;
      }
    }
  }
  .step{
    .step-container{
      padding: 20px;
      border-radius: 0 30px 30px 0;
      width: calc(100% - 10px);
      .title{
        margin: 0 auto 40px auto;
        font-size: 20px;
      }
    }
    .fee{
      padding: 70px 10px;
      .title{
        image{
          max-width: 50vw;
        }
      }
      .fee-content{
        .fee-text{
          .item-text{
            .label{
              .main-text{
                font-size: 20px;
              }
              .label-text{
                font-size: 14px;
                letter-spacing: 2px;
              }
            }
            .des{
              font-size: 11px;
              letter-spacing: 1px;
            }
          }
        }
      }
      .applicable{
        font-size: 10px;
      }
    }
  }
  .footer{
    padding: 40px 10px 20px 10px;
    .footer-top{
      .logo{
        img{
          max-width: 15vw;

        }
      }
      .to-top{
        img{
          max-width: 10vw;
        }
      }
      .content-footer{
        margin: 0 10px;
        width: calc(75% - 20px);
        .title{
          font-size: 15px;
          margin-bottom: 15px;
        }
        .infor{
          font-size: 9px;
          letter-spacing: 1.5px;
          tr{
            td{
              &:last-of-type{
                overflow-wrap: anywhere;
              }
              &:first-of-type{
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
    .footer-bot{
      font-size: 11px;
    }
  }
  .layer1{
    transform: translateY(-2px);
  }
  .contact{
    height: auto;
    width: auto;
    .contact-wrap{
      .trig-top{
        border-right: 100vw solid transparent;
      }
      .trig-bot{
        border-left: 100vw solid transparent;
      }
      .contact-main{
        padding: 60px 20px!important;
        width: auto!important;
        .form-contact{
          height: auto;
          .item-input{
            .lable-input{
              font-size: 12px;
            }
          }
          .item-radio{
            .lable-input{
              font-size: 12px;
            }
            .radios_1{
              .radio-input{
                input{
                  width: 13px;
                  height: 13px;
                  margin-right: 0;
                }
                span{
                  font-size: 11px;
                }
              }
            }
            .radios_2 {
              .radio-input {
                input {
                  width: 13px;
                  height: 13px;
                  margin-right: 0;
                }

                span {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1025px){
  .pc{
    display: none;
  }
  .tb{
    display: block;
    position: static;
  }
  .size{
    width: auto;
    max-width: 100vw;
  }
}

@media screen and (max-width: 360px) {
  .footer{
    .footer-top{
      display: unset;
      position: relative;
      .to-top{
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }
  }
  .contact{
    .contact-wrap{
      .contact-main{
        .form-contact{
          .item-radio{
            .radios_1{
              .radio-input{
                width: 50%!important;
              }
            }
          }
        }
      }
    }
  }
}
